body{
    background-color: darkgray !important;
      display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.empty{
    margin-top: 250px;
    opacity: 0.4;
    font-size: 50px;
    text-align: center;
}
#char{
   text-align: center;
   margin-top: 5%;
}
html, body {
  height: 100%;
  margin: 0;
}
.content {
  flex: 1; /* empurra o footer para baixo */
}