body {
    font-family: Arial, sans-serif;
    background-color: darkgray !important;
}

label{
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    margin-bottom: 15px;
}

.info-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info-left {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.info-left input {
    margin-bottom: 15px;
    padding: 8px;
}

.lab{
    margin-right: 40%;
    margin-bottom: 20px;
    margin-top: 0;
}

.foto-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.foto-preview {
    width: 72%;
    height: 200px;
    border: 2px dashed #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #f8f9fa;
}

.atributos {
    display: flex;
    flex-direction: column;
}

.atributos input {
    margin-bottom: 10px;
    padding: 6px;
}

#sub {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    margin-top: 1%;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

sub:hover {
    background-color: #45a049;
}