body{
    background-color: darkgray !important;
      min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#new{
    color: white;
    background-color: black;
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 30px;
    width: 85%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid white;
    border-radius: 100px;
    cursor: pointer;
}
.empty{
    margin-top: 150px;
    opacity: 0.4;
    font-size: 50px;
    text-align: center;
}
html, body {
  height: 100%;
  margin: 0;
}
.content {
  flex: 1; /* empurra o footer para o final */
}
